{{ define "header" }}
<header class="navbar menu color1">
    <h2><img src="/images/wundervisionbot_sd.png" class="icon">WunderVision</h2>
    {{ $currentPage := . }}
    <div class="navoptions">
        {{- range site.Menus.main }}
        <a href="{{ .URL }}" class="color3 btn {{if eq .URL $currentPage.RelPermalink}}active {{ end }}">
            {{ .Name }}
        </a>
        {{- end }}
        <a href="https://github.com/Corey255A1" class="color1 btn square">
            <img src="/images/icons/github-mark-white.svg" style="width:100%;" alt="github logo">
        </a>
    </div>
</header>
{{ end }}